[Unit]
Description=Sync mirrorhelp text between GitHub and DokuWiki
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/var/www/src/mirrorhelp-sync/mirrorhelp-sync.sh

[Install]
WantedBy=multi-user.target

# Copy me to /etc/systemd/service/
